* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-size: calc(10px + 6 * (100vw / 1240));
  height: 100vh;
  color: white;
  background-size: cover;
  text-align: center;
  background-position: center center;
  transition: background-image 1s ease-in-out;
}

body::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}

.container {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(./img/bg/overlay.png);
  background-size: cover;
}

.weather__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city__weather {
  display: flex;
  justify-content: space-between;
}

.weather__info {
  display: flex;
  align-items: center;
}

.weather__title {
  margin: 0px 7px;
}

.weather__title:last-child {
  margin: 0;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#time {
  font-size: calc(2rem + 110 * (100vw / 1280));
  letter-spacing: 5px;
  cursor: default;
}

#name {
  display: inline-block;
  cursor: pointer;
}

h2 {
  margin-bottom: 0.5rem;
}

#focus {
  display: inline-block;
  border-bottom: 2px solid;
  padding: 0px 20px 10px;
}

.quote {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  max-width: 450px;
  border-radius: 1em;
  padding: 10px;
  margin: 0 auto;
  cursor: default;
}

blockquote {
  font-style: italic;
}

.quote figcaption {
  text-align: center;
}

.btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.material-icons {
  color: #fff;
  font-size: calc(20px + 30 * (100vw / 1280));
}
.btn {
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 1s;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn__quote .material-icons {
  transform: scale(-1, 1);
}
